@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<a href="https://localhost:7037/login" class="text-sm text-blue-600 text-center hover:underline">
    login
</a>